body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #14171a;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(70, 70, 141);
  border-radius: 20px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}